<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @course.sigla %>
</p>

<p>
  <strong>Site:</strong>
  <%= @course.site %>
</p>

<p>
  <strong>Coordenador:</strong>
  <%= @course.coordenador %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @course.matricula %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @course.senha %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
